@if(cart.products.length){
<div class="details-conainer">
  <div *ngFor="let product of cart.products">
    <div class="product-item">
      <img [src]="product.image" />
      <div class="data">
        <div class="product-header">
          <h3>{{ product.name }}</h3>
          <button class="delete-product" (click)="removeFromCart(product)">
            <i class="bi bi-trash-fill h3"></i>
          </button>
        </div>
        <p class="m-0">
          <strong> {{ "product.price" | translate }}: </strong> ${{
            product.price
          }}
        </p>
        <div class="product-footer">
          <div class="quantity-buttons">
            <i
              class="bi bi-dash-circle-fill h4 quantity-btn"
              (click)="decreaseQuantity(product)"
            ></i>
            {{ product.quantity }}
            <i
              class="bi bi-plus-circle-fill h4 quantity-btn"
              (click)="increaseQuantity(product)"
            ></i>
          </div>
          <p class="product-total">
            <strong> {{ "product.total" | translate }}:</strong> ${{
              product.productTotal
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-bottom" *ngIf="cart.products.length">
    <h3 class="m-1 align-self-center">
      {{ "product.total" | translate }}: ${{ getCartTotal() }}
    </h3>
    <button class="purchase" (click)="purchase()">
      {{ "product.purchase" | translate }}
    </button>
    <button
      class="clear-cart"
      (click)="clearCart()"
      *ngIf="cart.products.length > 0"
    >
      {{ "product.clear-cart" | translate }}
    </button>
  </div>
</div>
} @else {
<div class="empty-cart-div">
  <h1 class="empty-cart-h">
    {{ "product.your-cart-is-empty" | translate }} 😢
  </h1>
</div>

}

<p-toast />
