.details-conainer {
  display: flex;
  background-color: #afdde5;
  border: 2px solid #003135;
  border-radius: 30px;
  margin: 30px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

img {
  width: 40%;
  margin-right: 50px;
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
}

.data {
  font-size: 18px;
}

.go-back {
  padding: 10px;
  border: #003135 1px solid;
  border-radius: 10px;
  font-size: 20px;
  margin-left: 270px;
  margin-top: 60px;
  background-color: #afdde5;
  font-weight: bold;
}

.add-to-cart {
  text-decoration: none;
  border: none;
  font-size: medium;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
  margin: 10px;
  color: white;
  background-color: green;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
