header {
  margin: 0;
  padding: 10px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  background-color: #c9ecf2;
  justify-content: space-between;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
}

.cart-header {
  position: relative;
  display: inline-block;
}
.cart-count {
  position: absolute;
  top: -14px;
  left: 17px;
  color: white;
  background-color: red;
  border-radius: 100px;
  padding-left: 7px;
  padding-right: 7px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 35px;
  padding: 0px;
}
