<div class="center-wrapper">
  <form class="container" [formGroup]="userForm" (ngSubmit)="createUser()">
    <div class="input-container">
      <label for="username">{{ "profile.username" | translate }}:</label>
      <div class="input-error">
        <input
          type="text"
          [placeholder]="'profile.username' | translate"
          formControlName="username"
        />
        <div
          class="error"
          *ngIf="
            userForm.get('username')?.invalid &&
            userForm.get('username')?.touched
          "
        >
          {{ "profile.username-required" | translate }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <label for="email">{{ "profile.email" | translate }}:</label>
      <div class="input-error">
        <input
          type="email"
          [placeholder]="'profile.email' | translate"
          formControlName="email"
          required
          email
        />
        <div
          class="error"
          *ngIf="
            userForm.get('email')?.invalid && userForm.get('email')?.touched
          "
        >
          {{ "profile.email-required" | translate }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <label for="password">{{ "profile.password" | translate }}:</label>
      <div class="input-error">
        <input
          type="password"
          [placeholder]="'profile.password' | translate"
          formControlName="password"
          required
          minlength="6"
        />
        <div
          class="error"
          *ngIf="
            userForm.get('password')?.invalid &&
            userForm.get('password')?.touched
          "
        >
          {{ "profile.password-required" | translate }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <label for="confirmPassword"
        >{{ "profile.confirm-password" | translate }}:</label
      >
      <div class="input-error">
        <input
          type="password"
          [placeholder]="'profile.confirm-password' | translate"
          formControlName="confirmPassword"
          required
          minlength="6"
        />
        <div
          class="error"
          *ngIf="
            userForm.get('confirmPassword')?.valueChanges &&
            userForm.get('confirmPassword')?.value !=
              userForm.get('password')?.value
          "
        >
          {{ "profile.confirm-required" | translate }}
        </div>
      </div>
    </div>
    <button>{{ "header.register" | translate }}</button>
  </form>
</div>
