<div class="center-wrapper">
  <form class="container" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <div class="input-container">
      <label for="email"> {{ "profile.email" | translate }}:</label>
      <div class="input-error">
        <input
          type="email"
          [placeholder]="'profile.email' | translate"
          formControlName="email"
          required
          email
        />
        <div
          class="error"
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        >
          {{ "profile.email-required" | translate }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <label for="password">{{ "profile.password" | translate }}:</label>
      <div class="input-error">
        <input
          type="password"
          [placeholder]="'profile.password' | translate"
          formControlName="password"
          required
          minlength="6"
        />
        <div
          class="error"
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        >
          {{ "profile.password-required" | translate }}
        </div>
      </div>
    </div>
    <button>{{ "header.login" | translate }}</button>
  </form>
</div>
