<div class="center-wrapper">
  <form
    class="container"
    [formGroup]="profileForm"
    (ngSubmit)="UpdateProfile()"
  >
    <div class="input-container">
      <label for="username"> {{ "profile.username" | translate }}:</label>
      <div class="input-error">
        <input
          type="text"
          [placeholder]="'profile.username' | translate"
          formControlName="username"
        />
        <div
          class="error"
          *ngIf="
            profileForm.get('username')?.invalid &&
            profileForm.get('username')?.touched
          "
        >
          {{ "profile.username-required" | translate }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <label for="email">{{ "profile.email" | translate }}:</label>
      <div class="input-error">
        <input
          type="email"
          [placeholder]="'profile.email' | translate"
          formControlName="email"
          required
          email
        />
        <div
          class="error"
          *ngIf="
            profileForm.get('email')?.invalid &&
            profileForm.get('email')?.touched
          "
        >
          {{ "profile.email-required" | translate }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <label for="newPassword">{{ "profile.new-password" | translate }}:</label>
      <div class="input-error">
        <input
          type="password"
          [placeholder]="'profile.new-password' | translate"
          formControlName="newPassword"
          required
          minlength="6"
        />
        <div
          class="error"
          *ngIf="
            profileForm.get('newPassword')?.touched &&
            profileForm.get('newPassword')?.errors as errors
          "
        >
          <div *ngIf="errors['minlength']">
            {{ "profile.password-at-least-6" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="input-container">
      <label for="confirmPassword"
        >{{ "profile.confirm-password" | translate }}:</label
      >
      <div class="input-error">
        <input
          type="password"
          [placeholder]="'profile.confirm-password' | translate"
          formControlName="confirmPassword"
          required
          minlength="6"
        />
        <div
          class="error"
          *ngIf="
            profileForm.get('confirmPassword')?.valueChanges &&
            profileForm.get('confirmPassword')?.value !=
              profileForm.get('newPassword')?.value
          "
        >
          {{ "profile.confirm-required" | translate }}
        </div>
      </div>
    </div>
    <button>{{ "profile.submit" | translate }}</button>
  </form>
</div>
